<mat-card>
    This webpage recalculates the country specific rankings after the new pp algorithm changes go through.<br>
    Obviously this data is not 100% accurate; it is only meant as an easier method to recalculate these rankings whenever new changes to the algorithm are made.<br>
    Recalculations of this list are done whenever I start that process, so if you need one, ask me (Mr HeliX).<br>
    The players shown in the list is the current top 500 of that country.<br>
    <br>
    Currently supported countries:<br>
    <ul>
        <li><a href="/nl">Netherlands</a></li>
        <li><a href="/uk">United Kingdom</a></li>
    </ul>
</mat-card>

<mat-card>
    <mat-checkbox color="primary" [(ngModel)]="showUnrankedPlayers" (change)="toggleUnrankedPlayers()">Show unranked players</mat-checkbox>
</mat-card>

<div [hidden]="!(tableDataSource)">
    <table mat-table id="players-table" [dataSource]="tableDataSource" class="mat-elevation-z8" matSort>
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.label }}</th>
            <td mat-cell *matCellDef="let element"> {{ element[column.value] }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[50, 100, 250, 500]" showFirstLastButtons></mat-paginator>
</div>
